@model BirdieBook.Models.Hole

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Hole</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TeeBoxID" class="control-label"></label>
                <Input asp-for="TeeBoxID" class ="form-control" />
                <input value="@ViewBag.TeeBoxName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="HoleNumber" class="control-label"></label>
                <input asp-for="HoleNumber" value="@ViewBag.HoleNumber" class="form-control" />
                <span asp-validation-for="HoleNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Par" class="control-label"></label>
                <input asp-for="Par" class="form-control" />
                <span asp-validation-for="Par" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Length" class="control-label"></label>
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HCPIndex" class="control-label"></label>
                <input asp-for="HCPIndex" class="form-control" />
                <span asp-validation-for="HCPIndex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" name="Return" value="Return" class="btn btn-default" formnovalidate />
                <input type="submit" name="Continue" value="Save & Continue" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
