@page
@model BirdieBook.ViewModels.UserRoundCreateViewModel
@*@{
    
}*@

<div>
    <h2>This is text from UserScores Viewcomponent </h2>
    [@Html.DisplayFor(model => model.GolfCourses.First().Name)]
</div>