@model BirdieBook.Models.UserScore

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>UserScore</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserRoundID" class="control-label"></label>
                <select asp-for="UserRoundID" class ="form-control" asp-items="ViewBag.UserRoundID"></select>
            </div>
            <div class="form-group">
                <label asp-for="HoleID" class="control-label"></label>
                <input asp-for="HoleID" class="form-control" />
                <span asp-validation-for="HoleID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Score" class="control-label"></label>
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="FairwayHit" /> @Html.DisplayNameFor(model => model.FairwayHit)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PuttCount" class="control-label"></label>
                <input asp-for="PuttCount" class="form-control" />
                <span asp-validation-for="PuttCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
